*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.navbar{
    background-color: #011627;
    height: 80px;
}

.navbar-brand{
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
}

.navbar-brand:hover {
    color: #FF9F1C !important;
    /* background-color: aqua; */
    font-weight: bold;
    font-size: xx-large;
}

.navbar-toggler{
    background-color: #FF9F1C;
}

.form-select{
    width: 200px;
}

.btn-primary{
    background-color: #FF9F1C;
    border: 1px solid #FF9F1C;
}
.btn-primary:hover{
    background-color: #FF9F1C !important;
    border: 1px solid #FF9F1C;
}

.btn-primary:focus{
    background-color: #ffa01cd1 !important;
    border: 1px solid #ffa01cd1 !important;
}




/* @media only screen and(max-width: 500px) {
    form{
        display: flex;
        flex-direction: column;
    }
    
} */